@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Pattaya&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}

body{
    width: 100%;
}

form{
    background-color: #fff;
    position: absolute;
    width: 320px;
    height: 270px;
    padding: 10px 5px 20px 5px;
    margin: -10vh 850px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;
    margin-bottom: 80px;
}

input[type = 'text'], input[type = 'password']{
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: left;
    color: black;
    font-family: 'Comfortaa' cursive;
}

button{
    border: none;
    background-color: #FF4040;
    color: black;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    font-family: 'Comfortaa' cursive;
}

/* .btn2{
    width: 180px;
    padding: 10px 0;
} */

.f-pws{
    display: block;
    width: 200px;
    margin: auto;
    padding-right: 80px;
    font-family: 'Comfortaa' cursive;
    font-weight: 400;
}

.inter{
    width: 350px;
    margin: -09vh 350px;
    margin-top: 250px;
}

.header{
    font-family: 'Aclonica';
    font-size: 80px;
    color: #FF4040;
}

.paragraph1{
    font-family: 'Arial';
    font-size: 40px;
}
