@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Pattaya&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}

/* body{
    display: flex;
} */

.form3{
    background-color: #fff;
    margin-top: 190px;
    margin-left: 490px;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 280px;
    padding: 10px 5px 20px 5px;
    /* margin: -10vh 850px; */
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;
    margin-bottom: 80px;
    font-family: 'Comfortaa' cursive;
}

input[type = 'text'], input[type = 'text']{
    display: block;
    background-color: #fff;
    border: 1.5px solid rgb(200, 200, 200);
    width: 500px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: left;
    color: black;
    font-family: 'Comfortaa' cursive;
}

input[type = 'text'], input[type = 'email2']{
    display: block;
    background-color: #fff;
    border: 1.5px solid rgb(200, 200, 200);
    width: 500px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: left;
    color: black;
    font-family: 'Comfortaa' cursive;
}

input[type = 'text'], input[type = 'password2']{
    display: block;
    background-color: #fff;
    border: 1.5px solid rgb(200, 200, 200);
    width: 500px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: left;
    color: black;
    font-family: 'Comfortaa' cursive;
}

.button2{
    border: none;
    background-color: #FF4040;
    color: black;
    width: 500px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    font-family:'Comfortaa', cursive;
}

.btn3{
    border: none;
    background-color: #FF4040;
    color: black;
    width: 500px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    font-family:'Comfortaa', cursive;
}