@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roberto Mono', monospace;
  background-image: url(C:\Users\Gik_Tech\Documents\Interapp\frontend\src\Images\whitebackground.jpg);
}

.form{
  max-width: fit-content;
  border: 2px solid;
}





